<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Course accessible code</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital@0;1&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./styles/index.css" />
	</head>

	<body>
		<div class="hero">
			<h1 class="hero__title">Welcome to the index template demo</h1>
			<img
				class="hero__logo"
				src="assets/logo.jpg"
				alt="The a11y Collective Logo"
			/>
		</div>

		<main class="main">
			<div class="main__navigation container">
				<h2>Course lessons</h2>
				<ol>
					<li><a href="./index.html">List item 1</a></li>
					<li><a href="./index.html">List item 2</a></li>
					<li><a href="./index.html">List item 3</a></li>
					<li><a href="./index.html">List item 4</a></li>
					<li><a href="./index.html">List item 5</a></li>
				</ol>
			</div>

			<div class="main__footer container">
				<p>
					These pages are used for workshops & courses of The A11Y
					Collective.
				</p>
			</div>
		</main>

		<footer class="footer">
			<p>
				Created by
				<a href="https://www.a11y-collective.com/"
					>The A11y Collective</a
				>
			</p>
		</footer>
	</body>
</html>
