body {
    margin: 2em;
    font-family: 'Montserrat', Verdana, sans-serif;
    background-color: #efefef4d;
    color: #333;
    line-height: 1.5em;
}

@media screen and (min-width: 50em) {
    body {
        margin: 2em auto;
        max-width: 40em;
    }
}

body.wide {
    max-width: 80%;
}

p.narrow {
    max-width: 5em;
}

p.right-width {
    max-width: 40em;
}

h1, h2, h3 {
    line-height: 1.1em;
    font-family: 'Viga', sans-serif;
}

h2, h3 {
    margin-top: 2em;
}

h3 {
    font-size: 1.2em;
}

img.right {
    width: 40%;
    float: right
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    border-left: 0.2em solid #ccc;
    padding: 1em;
}

footer nav {
    border-top: 2px solid black;
    margin-top: 4em;
}

button {
    margin: 1em 0;
    padding: 1em;
    font-size: inherit;
}

.alt-text-img {
    width: 50%;
    margin-bottom: 10em;
}

.large-text {
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.1em;
    font-family: 'Viga', sans-serif;
}
