body {
    margin: 3em auto;
    max-width: 50em;
    font-family: Verdana, sans-serif;
}

img.right {
    width: 40%;
    float: right
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    border-left: 0.2em solid #ccc;
    padding: 1em;
}