.skiplink {
	position: absolute;
	transform: translateX(-100%);
	background-color: white;
	z-index: 3;
	left: 0;
	top: 0;
	padding: 20px;
	font-size: 1.25rem;
}

.skiplink:focus {
	transform: translateX(0);
}
