<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles.css" />
		<link rel="stylesheet" href="./skiplink.css" />
		<title>Skiplink</title>
	</head>
	<body>
		<header>
			<a class="skiplink" href="#maincontent">Skip to main content</a>
			<a href="#">Example link in header</a>
		</header>
		<h1>Skiplink component</h1>
		<main id="maincontent">
			<p>
				This is the main content, tab to reveal skiplink and press enter to skip
				to this part of the page
			</p>
			<a href="#">Example link in main</a>
		</main>
	</body>
</html>
