<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Accordion example</title>
</head>
<body>
    <details open>
        <summary>
            What kind of movie posters do we offer?
        </summary>
        <p>
            We offer a wide variety of movie posters, including classic,
            contemporary, and limited edition posters.
        </p>
    </details>
    <details>
        <summary>
            Curabitur ligula sapien tincidunt non?
        </summary>
        <p>
            We offer a wide variety of movie posters, including classic,
            contemporary, and limited edition posters.
        </p>
    </details>
    <details>
        <summary>
            Donec mi odio faucibus at?
        </summary>
        <p>
            We offer a wide variety of movie posters, including classic,
            contemporary, and limited edition posters.
        </p>
    </details>
    <details>
        <summary>
            Fusce egestas elit eget lorem?
        </summary>
        <p>
            We offer a wide variety of movie posters, including classic,
            contemporary, and limited edition posters.
        </p>
    </details>
</body>
</html>