<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles.css" />
		<link rel="stylesheet" href="./accordion.css" />
		<title>Accordion</title>
	</head>
	<body>
		<h1>Accordion component</h1>
		<h2>Frequently asked questions</h2>
		<div class="accordion">
			<details class="accordion__details">
				<summary class="accordion__summary">
					<h3>
						<span class="accordion__marker" aria-hidden="true"></span>
						What kind of movie posters do you offer?
					</h3>
				</summary>
				<p>
					We offer a wide variety of movie posters, including classic,
					contemporary, and limited edition posters.
				</p>
			</details>
			<details class="accordion__details">
				<summary class="accordion__summary">
					<h3>
						<span class="accordion__marker" aria-hidden="true"></span>
						Do you offer custom framing options?
					</h3>
				</summary>
				<p>
					Yes, we offer custom framing options to enhance your poster. You can
					select the frame type, matting, and glass options that best suit your
					decor.
				</p>
			</details>
		</div>
	</body>
</html>
