.nursery::before {
    content: 'Nursery Rhyme: ';
    color: #00a699;
}

.song::before {
    content: 'Song: ';
    color: #9b51e0;
}

blockquote::before {
    content: 'Quote';
}

.change-context {
    position: relative;
}

dialog {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 90%;
    width: 90%;
    background-color: #aa1111;
    color: #fff9c0;
    text-align: center;
}