<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./dialog-basic-demo.js" defer></script>
    <title>Basic Dialog Demo</title>
</head>
<body>
    <main style="max-width: 60ch; margin-inline: auto;">
        <h1>Product</h1>
        <button class="js-open-dialog">
            Add item to cart
        </button>
        <p>Nam adipiscing. In hac habitasse platea dictumst. Nullam sagittis. Donec sodales sagittis magna. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
        <p><a href="#">Vestibulum fringilla pede sit amet augue</a>. Aenean ut eros et nisl sagittis vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Nulla consequat massa quis enim.</p>
        <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Maecenas malesuada. Phasellus ullamcorper ipsum rutrum nunc. Nunc nulla. Sed in libero ut nibh placerat accumsan.</p>
        <p>Fusce vel dui. Aliquam erat volutpat. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Suspendisse eu ligula. Aenean ut eros et nisl sagittis vestibulum.</p>
        <p>Praesent nec nisl a purus blandit viverra. Etiam ut purus mattis mauris sodales aliquam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam dictum felis eu pede mollis pretium. Nullam tincidunt adipiscing enim.</p>
        <p>Nam adipiscing. In hac habitasse platea dictumst. Nullam sagittis. Donec sodales sagittis magna. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
        <p>Vestibulum fringilla pede sit amet augue. Aenean ut eros et nisl sagittis vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Nulla consequat massa quis enim.</p>
        <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Maecenas malesuada. Phasellus ullamcorper ipsum rutrum nunc. Nunc nulla. Sed in libero ut nibh placerat accumsan.</p>
        <p>Fusce vel dui. Aliquam erat volutpat. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Suspendisse eu ligula. Aenean ut eros et nisl sagittis vestibulum.</p>
        <p>Praesent nec nisl a purus blandit viverra. Etiam ut purus mattis mauris sodales aliquam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam dictum felis eu pede mollis pretium. Nullam tincidunt adipiscing enim.</p>
        <p>Nam adipiscing. In hac habitasse platea dictumst. Nullam sagittis. Donec sodales sagittis magna. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
        <p>Vestibulum fringilla pede sit amet augue. Aenean ut eros et nisl sagittis vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Nulla consequat massa quis enim.</p>
        <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Maecenas malesuada. Phasellus ullamcorper ipsum rutrum nunc. Nunc nulla. Sed in libero ut nibh placerat accumsan.</p>
        <p>Fusce vel dui. Aliquam erat volutpat. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Suspendisse eu ligula. Aenean ut eros et nisl sagittis vestibulum.</p>
        <p>Praesent nec nisl a purus blandit viverra. Etiam ut purus mattis mauris sodales aliquam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam dictum felis eu pede mollis pretium. Nullam tincidunt adipiscing enim.</p>
        <p>Nam adipiscing. In hac habitasse platea dictumst. Nullam sagittis. Donec sodales sagittis magna. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
        <p>Vestibulum fringilla pede sit amet augue. Aenean ut eros et nisl sagittis vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Nulla consequat massa quis enim.</p>
        <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Maecenas malesuada. Phasellus ullamcorper ipsum rutrum nunc. Nunc nulla. Sed in libero ut nibh placerat accumsan.</p>
        <p>Fusce vel dui. Aliquam erat volutpat. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Suspendisse eu ligula. Aenean ut eros et nisl sagittis vestibulum.</p>
        <p>Praesent nec nisl a purus blandit viverra. Etiam ut purus mattis mauris sodales aliquam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam dictum felis eu pede mollis pretium. Nullam tincidunt adipiscing enim.</p>
        <p>Nam adipiscing. In hac habitasse platea dictumst. Nullam sagittis. Donec sodales sagittis magna. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
        <p>Vestibulum fringilla pede sit amet augue. Aenean ut eros et nisl sagittis vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Nulla consequat massa quis enim.</p>
        <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Maecenas malesuada. Phasellus ullamcorper ipsum rutrum nunc. Nunc nulla. Sed in libero ut nibh placerat accumsan.</p>
        <p>Fusce vel dui. Aliquam erat volutpat. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Suspendisse eu ligula. Aenean ut eros et nisl sagittis vestibulum.</p>
        <p>Praesent nec nisl a purus blandit viverra. Etiam ut purus mattis mauris sodales aliquam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam dictum felis eu pede mollis pretium. Nullam tincidunt adipiscing enim.</p>
        <p>Nam adipiscing. In hac habitasse platea dictumst. Nullam sagittis. Donec sodales sagittis magna. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
        <p>Vestibulum fringilla pede sit amet augue. Aenean ut eros et nisl sagittis vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Nulla consequat massa quis enim.</p>
        <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Maecenas malesuada. Phasellus ullamcorper ipsum rutrum nunc. Nunc nulla. Sed in libero ut nibh placerat accumsan.</p>
        <p>Fusce vel dui. Aliquam erat volutpat. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Suspendisse eu ligula. Aenean ut eros et nisl sagittis vestibulum.</p>
        <p>Praesent nec nisl a purus blandit viverra. Etiam ut purus mattis mauris sodales aliquam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam dictum felis eu pede mollis pretium. Nullam tincidunt adipiscing enim.</p>
        <p>Nam adipiscing. In hac habitasse platea dictumst. Nullam sagittis. Donec sodales sagittis magna. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
        <p>Vestibulum fringilla pede sit amet augue. Aenean ut eros et nisl sagittis vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Nulla consequat massa quis enim.</p>
        <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Maecenas malesuada. Phasellus ullamcorper ipsum rutrum nunc. Nunc nulla. Sed in libero ut nibh placerat accumsan.</p>
        <p>Fusce vel dui. Aliquam erat volutpat. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Suspendisse eu ligula. Aenean ut eros et nisl sagittis vestibulum.</p>
        <p>Praesent nec nisl a purus blandit viverra. Etiam ut purus mattis mauris sodales aliquam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam dictum felis eu pede mollis pretium. Nullam tincidunt adipiscing enim.</p>
        <p>Nam adipiscing. In hac habitasse platea dictumst. Nullam sagittis. Donec sodales sagittis magna. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
        <p>Vestibulum fringilla pede sit amet augue. Aenean ut eros et nisl sagittis vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Nulla consequat massa quis enim.</p>
        <p>Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Maecenas malesuada. Phasellus ullamcorper ipsum rutrum nunc. Nunc nulla. Sed in libero ut nibh placerat accumsan.</p>
        <p>Fusce vel dui. Aliquam erat volutpat. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Suspendisse eu ligula. Aenean ut eros et nisl sagittis vestibulum.</p>
        <p>Praesent nec nisl a purus blandit viverra. Etiam ut purus mattis mauris sodales aliquam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Nullam dictum felis eu pede mollis pretium. Nullam tincidunt adipiscing enim.</p>
    </main>
    <dialog class="dialog" aria-label="Cart update">
        <p>Item has been added to your cart</p>
    
        <a href="#">Go to checkout</a>
        
        <button class="js-close-dialog">
            Continue shopping
        </button>
    </dialog>
</body>
</html>