.button {
	border: 2px solid;
	background-color: transparent;
	align-items: center;
	border-radius: 9999px;
	padding: 12px 20px;
	display: flex;
	gap: 10px;
	color: white;
	cursor: pointer;
}

.button--transparent {
	border-color: #610c0c;
	background-color: transparent;
	color: #610c0c;
}

.button--red {
	border-color: #b11515;
	background-color: #b11515;
}

.button--red:hover,
.button--red:focus {
	background-color: #d03e3e;
	border-color: #d03e3e;
}

.button--transparent:hover,
.button--transparent:focus {
	border-color: #610c0c;
	background-color: #610c0c;
	color: white;
}

.button__icon {
	height: 17px;
}

.button__text {
	font-size: 1rem;
	font-weight: 700;
}
