/* Write your custom CSS here */

.link-image svg,
.link-image img {
    vertical-align: middle;
    width: 4em;
    height: 4em;
    padding-right: 0.3em;
}

.link-image:hover svg,
.link-image:hover img {
    outline: 2px solid #1d17ff;
}
